//  查询结果列表
.search-result-list {
  padding-left: 15px;
  padding-right: 15px;
}

//  查询结果面板title
a.search-result-title {
  font-weight: bold;
}

//  查询结果内容
.search-result-body {
  color = #555;
  word-wrap: break-word;
}

//  查询关键字渲染
em.search-keyword {
  border-bottom: 1px dashed #4088b8;
  font-weight: bold;
  color: #ff0000;
  font-style: normal;
}

//  查询结果集大小
.search-result-number {
  padding-left: 15px;
}
